<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Sample</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- CSS import -->
    <link rel="stylesheet" href="../css/reset.css">
</head>

<body>
    <br>
    <img src="./singerarray.png" style="padding-left: 30px;">
    <xmp>
        v-for 지시자를 사용하여 자신이 좋아하는 가수들을 출력하는 테이블을 작성하여 본다.

        1. Object Array 를 만들어 화면과 같이 표시되게 하시오.

        2. "추가" 버튼을 만들고 클릭 이벤트를 설정하시오.

        3. "추가" 버튼을 클릭하면 행이 추가되게 작성하시오.

        4. "추가" 버튼 기능 개선
            input 태그 3개를 추가 하고 
            "추가" 버튼을 클릭하면  
            input 입력값을 이용하여 객체를 만들고 
            만들어진 객체를 Object Array에 추가한다.
            <label for="">이름</label><input v-model:value="name">
            <label for="">전화번호</label><input v-model:value="tel">
            <label for="">주소</label><input v-model:value="address">
    </xmp>
    <hr>

    <div id="app" class="col-md-10 offset-md-1">
        <table id="list" class="table-bordered">
            <thead>
                <tr class="bg-warning text-white text-center">
                    <th>번호</th>
                    <th>이름</th>
                    <th>전화번호</th>
                    <th>주소</th>
                </tr>
            </thead>
            <tbody id="contacts">
                <tr v-for="(contact, i) in contacts" v-bind:key="i">
                    <td>{{i+1}}</td>
                    <td>{{contact.name}}</td>
                    <td>{{contact.tel}}</td>
                    <td>{{contact.address}}</td>
                </tr>
            </tbody>
        </table>
    </div>


    <script type="text/x-template" id="template1">
    <div class="col-md-10 offset-md-1">
        <label for="">이름</label><input v-model:value="name">
        <label for="">전화번호</label><input v-model:value="tel">
        <label for="">주소</label><input v-model:value="address">
        <button v-on:click="btnAddClick">추가</button>
        <table id="list" class="table-bordered">
            <thead>
                <tr class="bg-warning text-white text-center">
                    <th>번호</th>
                    <th>이름</th>
                    <th>전화번호</th>
                    <th>주소</th>
                </tr>
            </thead>
            <tbody id="contacts">
                <tr v-for="(contact , i) in contacts" v-bind:key="i">
                    <td>{{i+1}}</td>
                    <td>{{contact.name}}</td>
                    <td>{{contact.tel}}</td>
                    <td>{{contact.address}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    </script>

</body>

</html>

<!-- vue 플러그인 임포트   -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"> /* JSX를 자바스크립트로 변환 */</script>
<script src="https://unpkg.com/vue@2.5.16/dist/vue.js">/* vue 플러그인 임포트 */</script>
<script src="https://unpkg.com/vuex@3.3.0/dist/vuex.js"> /* vuex 플러그인 임포트 */</script>
<script src="https://unpkg.com/vue-router@3.1.6/dist/vue-router.js"> /* vue 라우터 플러그인 임포트 */</script>
<script src="https://unpkg.com/axios/dist/axios.min.js"> /* axios 플러그인 임포트 */</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"> /* jQuery library */</script>
<script>
    new Vue({
        /* edtmc^2w */
        el: "#app",
        data: {
            contacts: [
                { name: '설현', tel: '010-3456-8200', address: '서현' },
                { name: '혜리', tel: '010-3456-8299', address: '서리' },
            ],
            name: '',
            tel:'',
            addrees:'',
        },
        template: "#template1",
        methods: {
            btnAddClick: function(event){
                console.log(event.target);

                // 유효성 검사


                // 객체 생성
                var obj = {
                    name: this.$data.name, 
                    tel: this.$data.tel, 
                    address: this.$data.address,
                }

                // 배열 추가 
                // this.$set( this.$data.contacts, 방번호, 값 );
                this.$set(this.$data.contacts, this.$data.contacts.length, obj );
            }
        },
        components: {
    
        }, 
        computed: {
    
        },
        watch: {
    
        },
        mounted: function() {
            console.log("mounted");
        },
        updated: function() {
            console.log("updated");
        },
    });
    
</script>